<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment | HelloTools Studio</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/mdui/1.0.2/css/mdui.min.css">
</head>

<body class="mdui-typo">
    <div id="app">
        <div class="container">
            <div class="title-container">
                <div class="title">向<span class="text-theme">{{ app.name }}</span>付款</div>
                <div class="descr">聚合收银台 | HelloTools Studio</div>
            </div>

            <div class="qrcode-container">
                <div class="qrcode-box" v-if="currentAdaptarData.qrcode">
                    <img :src="currentAdaptarData.qrcode" />
                </div>
            </div>

            <div class="adaptar-container">
                <div class="adaptar-selector">
                    <div class="adaptar-selector-title">
                        <span>选择支付方式</span>
                        <a class="mdui-btn adaptar-selector-wake-btn" v-if="currentAdaptarData.wake_url"
                            :href="currentAdaptarData.wake_url">唤醒</a>
                    </div>
                    <div class="adaptar-selector-wake" v-if="currentAdaptarData.wake_url">
                        手机端可点击唤醒快捷支付。
                    </div>
                    <div class="adaptar-selector-options">
                        <div class="adaptar-selector-option" v-for="(adaptarName, adaptar) in adaptars">
                            <input type="radio" :value="adaptar" :id="adaptar" name="adaptar" v-model="input"
                                hidden></input>
                            <label :for="adaptar">{{ adaptarName }}</label>
                        </div>
                    </div>
                    <div class="adaptar-selector-confirm">
                        <button class="mdui-btn mdui-btn-block mdui-ripple mdui-ripple-white" @click="selectAdaptar">
                            {{ input == currentAdaptar ? orderExpireTime > 0 ? (!orderStatus) ? '请在' + orderExpireTime +
                            '秒内完成支付' : '已支付' : '订单已过期' : '立即支付¥' + order.amount }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.staticfile.org/mdui/1.0.2/js/mdui.min.js"></script>
    <script src="main.js" type="module"></script>
</body>

</html>