.MCExp_AprilFools_PoisonPotato {
    position: absolute;
    width: 128px;
    height: 128px;
    background-image: url('https://www.minecraft.net/content/dam/minecraftnet/franchise/experiments/aprilFools/2024/poison-potato.png');
    z-index: 2;
    background-color: transparent;
    border: 0;
    background-size: contain;
    visibility: visible;
    opacity: 1;
}

.MCExp_AprilFools_HealthBar_Heart {
    background: url('https://www.minecraft.net/content/dam/minecraftnet/franchise/experiments/aprilFools/2024/heart-states.png?v=1') no-repeat left top;
    width: 36px;
    height: 36px;
}

#taterAnimationToggle_0 .MC_Animation_action__aprilFoolsAnimationToggle[data-paused=false]::after {
    aspect-ratio: 52/48;
    background: url('https://www.minecraft.net/content/dam/minecraftnet/franchise/experiments/aprilFools/2024/disable-potatoes.png') no-repeat;
}

#taterAnimationToggle_0 .MC_Animation_action__aprilFoolsAnimationToggle::after {
    content: ' ';
    display: block;
    width: 26px;
    height: 24px;
    background-size: contain!important;
    position: relative;
    left: -2px;
}

#MC_AprilFools_Modal .MC_modal_cover:before {
    content: '';
    display: block;
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('https://www.minecraft.net/content/dam/minecraftnet/franchise/experiments/aprilFools/2024/ToxfinOverlay_Final_1064x986.png') no-repeat center center;
}

#MC_AprilFools_Modal h2 {
    text-shadow: 8px 8px 0 rgba(0,0,0,.5);
    font-family: var(--mc-legends-fontlist);
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 6.25rem;
    margin: 0;
}

#MC_AprilFools_Modal .MC_AprilFools_Modal_Score, #MC_AprilFools_Modal .MC_AprilFools_Modal_Subtitle {
    font-family: var(--mc-legends-fontlist);
    text-shadow: 3px 3px 0 rgba(0,0,0,.5);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
}

#MC_AprilFools_Modal .MC_AprilFools_Modal_Score, #MC_AprilFools_Modal .MC_AprilFools_Modal_Subtitle {
    font-family: var(--mc-legends-fontlist);
    text-shadow: 3px 3px 0 rgba(0,0,0,.5);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
}

#MC_AprilFools_Modal .MC_AprilFools_Modal_Actions .MC_Style_Java {
    box-shadow: -8px -16px 0 0 rgba(0,0,0,.3) inset,8px 8px 0 0 rgba(255,255,255,.3) inset;
    background: url('https://www.minecraft.net/content/dam/minecraftnet/franchise/experiments/aprilFools/2024/Button-BG_Java-Texture.png') repeat;
    width: 100%;
    max-width: unset;
    align-items: center;
    color: var(--mc-core-white);
    text-shadow: 4px 4px 0 #3e3e3e;
    font-family: var(--mc-legends-fontlist);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 80px;
    text-transform: none;
    border: 4px solid var(--mc-core-rich-black);
}

:root {
    --mc-core-green-6: #2A641C;
    --mc-core-green-5: #3C8527;
    --mc-core-green-4: #52A535;
    --mc-core-green-3: #6CC349;
    --mc-core-green-2: #86D562;
    --mc-core-green-1: #A0E081;
    --mc-core-grey-6: #262423;
    --mc-core-grey-5: #3D3938;
    --mc-core-grey-4: #6B6562;
    --mc-core-grey-3: #ABA09C;
    --mc-core-grey-2: #D0C5C0;
    --mc-core-grey-1: #EDE5E2;
    --mc-core-rich-black: #000;
    --mc-core-off-black: #171615;
    --mc-core-white: #fff;
    --mc-core-off-white: #FCF5F1;
    --mc-core-gradient-dark-grey: linear-gradient(180deg, #3D3938 0%, #262423 50%, #171615 100%);
    --mc-core-gradient-green: linear-gradient(180deg, #6CC349 0%, #52A535 50%, #3C8527 100%);
    --mc-core-gradient-light-grey: linear-gradient(180deg, #FCF5F1 0%, #EDE5E2 50%, #D0C5C0 100%);
    --mc-vanilla-green-6: #2A641C;
    --mc-vanilla-green-5: #3C8527;
    --mc-vanilla-green-4: #52A535;
    --mc-vanilla-green-3: #6CC349;
    --mc-vanilla-green-2: #86D562;
    --mc-vanilla-green-1: #A0E081;
    --mc-vanilla-brown-6: #492D1F;
    --mc-vanilla-brown-5: #66412C;
    --mc-vanilla-brown-4: #805539;
    --mc-vanilla-brown-3: #976746;
    --mc-vanilla-brown-2: #AD7A54;
    --mc-vanilla-brown-1: #C28E64;
    --mc-vanilla-blue-6: #002FAE;
    --mc-vanilla-blue-5: #0040C8;
    --mc-vanilla-blue-4: #0855DB;
    --mc-vanilla-blue-3: #1E6EEA;
    --mc-vanilla-blue-2: #3A87F4;
    --mc-vanilla-blue-1: #5B9FFB;
    --mc-vanilla-grey-6: #262423;
    --mc-vanilla-grey-5: #3D3938;
    --mc-vanilla-grey-4: #6B6562;
    --mc-vanilla-grey-3: #ABA09C;
    --mc-vanilla-grey-2: #D0C5C0;
    --mc-vanilla-grey-1: #EDE5E2;
    --mc-vanilla-coldgrey-6: #2C2F3A;
    --mc-vanilla-coldgrey-5: #3D4250;
    --mc-vanilla-coldgrey-4: #4D5466;
    --mc-vanilla-coldgrey-3: #5D647A;
    --mc-vanilla-coldgrey-2: #6C748C;
    --mc-vanilla-coldgrey-1: #8089A2;
    --mc-legends-light-blue-6: #339CD7;
    --mc-legends-light-blue-5: #39B9EB;
    --mc-legends-light-blue-4: #4AD5FF;
    --mc-legends-light-blue-3: #70DFFF;
    --mc-legends-light-blue-2: #95E8FF;
    --mc-legends-light-blue-1: #ACF2FF;
    --mc-legends-dark-blue-6: #001236;
    --mc-legends-dark-blue-5: #00215C;
    --mc-legends-dark-blue-4: #00337D;
    --mc-legends-dark-blue-3: #003BAB;
    --mc-legends-dark-blue-2: #005DCF;
    --mc-legends-dark-blue-1: #007FF2;
    --mc-legends-light-orange-6: #DE7523;
    --mc-legends-light-orange-5: #E89133;
    --mc-legends-light-orange-4: #F1AD42;
    --mc-legends-light-orange-3: #F6C25A;
    --mc-legends-light-orange-2: #FAD36F;
    --mc-legends-light-orange-1: #FDDF93;
    --mc-legends-ultra-dark-blue: #071927;
    --mc-legends-ultra-dark-orange: #271505;
    --mc-dungeons-orange-6: #DE5B0D;
    --mc-dungeons-orange-5: #FF791A;
    --mc-dungeons-orange-4: #FFA41F;
    --mc-dungeons-orange-3: #FFC42B;
    --mc-dungeons-orange-2: #FFD953;
    --mc-dungeons-orange-1: #FFF27A;
    --mc-dungeons-red-6: #8F1F0B;
    --mc-dungeons-red-5: #B42D10;
    --mc-dungeons-red-4: #DA3A16;
    --mc-dungeons-red-3: #FF481B;
    --mc-dungeons-red-2: #FF6D3A;
    --mc-dungeons-red-1: #FF925B;
    --mc-dungeons-mulberry-6: #190D19;
    --mc-dungeons-mulberry-5: #32122A;
    --mc-dungeons-mulberry-4: #4F1030;
    --mc-dungeons-mulberry-3: #530F33;
    --mc-dungeons-mulberry-2: #6C0E37;
    --mc-dungeons-mulberry-1: #7B0D3A;
    --mc-realms-deep-blue-7: #050029;
    --mc-realms-deep-blue-6: #0C0248;
    --mc-realms-deep-blue-5: #210A80;
    --mc-realms-deep-blue-4: #401CAC;
    --mc-realms-deep-blue-3: #643ACB;
    --mc-realms-deep-blue-2: #8D68E0;
    --mc-realms-deep-blue-1: #BCA4EC;
    --mc-realms-pink-6: #7F007A;
    --mc-realms-pink-5: #A40094;
    --mc-realms-pink-4: #D812B4;
    --mc-realms-pink-3: #E833C2;
    --mc-realms-pink-2: #F460D2;
    --mc-realms-pink-1: #FB95E2;
    --mc-marketplace-gold-6: #94540E;
    --mc-marketplace-gold-5: #B87918;
    --mc-marketplace-gold-4: #DB9F21;
    --mc-marketplace-gold-3: #FFC42B;
    --mc-marketplace-gold-2: #FFD953;
    --mc-marketplace-gold-1: #FFF27A;
    --mc-marketplace-grey-6: #262423;
    --mc-marketplace-grey-5: #3D3938;
    --mc-marketplace-grey-4: #6B6562;
    --mc-marketplace-grey-3: #ABA09C;
    --mc-marketplace-grey-2: #D0C5C0;
    --mc-marketplace-grey-1: #EDE5E2;
    --mc-marketplace-gradient-gold: linear-gradient(270deg, #FFF27A 0%, #FFC42B 100%);
    --mc-default--fontlist: "Noto Sans","Helvetica Neue","Helvetica","Arial","sans-serif";
    --mc-vanilla-fontlist: "MinecraftTen","Noto Sans","Helvetica Neue","Helvetica","Arial","sans-serif";
    --mc-dungeons-fontlist: "Minecraft-Fivev2","Noto Sans","Helvetica Neue","Helvetica","Arial","sans-serif";
    --mc-realms-fontlist: "MinecraftTen","Noto Sans","Helvetica Neue","Helvetica","Arial","sans-serif";
    --mc-legends-fontlist: "MinecraftSeven-v2","MinecraftSeven","Noto Sans","Helvetica Neue","Helvetica","Arial","sans-serif";
    --mc-text-highlight-fontlist: "SFMono-Regular","Menlo","Monaco","Consolas","Liberation Mono","Courier New",monospace;
    --mc-default-focus: #1157BE;
    --mc-default-caution: #E2B923;
    --mc-default-warning: #CA3636;
}
