.MCExp_AprilFools_PoisonPotato {
    position: absolute;
    width: 128px;
    height: 128px;
    background-image: url('https://www.minecraft.net/content/dam/minecraftnet/franchise/experiments/aprilFools/2024/poison-potato.png');
    z-index: 2;
    background-color: transparent;
    border: 0;
    background-size: contain;
    visibility: visible;
    opacity: 1;
}

.MCExp_AprilFools_HealthBar_Heart {
    background: url('https://www.minecraft.net/content/dam/minecraftnet/franchise/experiments/aprilFools/2024/heart-states.png?v=1') no-repeat left top;
    width: 36px;
    height: 36px;
}

#taterAnimationToggle_0 .MC_Animation_action__aprilFoolsAnimationToggle[data-paused=false]::after {
    aspect-ratio: 52/48;
    background: url('https://www.minecraft.net/content/dam/minecraftnet/franchise/experiments/aprilFools/2024/disable-potatoes.png') no-repeat;
}

#taterAnimationToggle_0 .MC_Animation_action__aprilFoolsAnimationToggle::after {
    content: ' ';
    display: block;
    width: 26px;
    height: 24px;
    background-size: contain!important;
    position: relative;
    left: -2px;
}

#MC_AprilFools_Modal .MC_modal_cover:before {
    content: '';
    display: block;
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/content/dam/minecraftnet/franchise/experiments/aprilFools/2024/ToxfinOverlay_Final_1064x986.png') no-repeat center center;
}

#MC_AprilFools_Modal h2 {
    text-shadow: 8px 8px 0 rgba(0,0,0,.5);
    font-family: var(--mc-legends-fontlist);
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 6.25rem;
    margin: 0;
}

#MC_AprilFools_Modal .MC_AprilFools_Modal_Score, #MC_AprilFools_Modal .MC_AprilFools_Modal_Subtitle {
    font-family: var(--mc-legends-fontlist);
    text-shadow: 3px 3px 0 rgba(0,0,0,.5);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
}

#MC_AprilFools_Modal .MC_AprilFools_Modal_Score, #MC_AprilFools_Modal .MC_AprilFools_Modal_Subtitle {
    font-family: var(--mc-legends-fontlist);
    text-shadow: 3px 3px 0 rgba(0,0,0,.5);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
}

#MC_AprilFools_Modal .MC_AprilFools_Modal_Actions .MC_Style_Java {
    box-shadow: -8px -16px 0 0 rgba(0,0,0,.3) inset,8px 8px 0 0 rgba(255,255,255,.3) inset;
    background: url('/content/dam/minecraftnet/franchise/experiments/aprilFools/2024/Button-BG_Java-Texture.png') repeat;
    width: 100%;
    max-width: unset;
    align-items: center;
    color: var(--mc-core-white);
    text-shadow: 4px 4px 0 #3e3e3e;
    font-family: var(--mc-legends-fontlist);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 80px;
    text-transform: none;
    border: 4px solid var(--mc-core-rich-black);
}

